{% load static %}
{% static 'images' as baseImg %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS CUSTOM -->
    <!-- BASE HTML HEADER AND FOOTER -->
    <link rel="stylesheet" href="{% static 'css/home_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_footer.css' %}">

    <!-- HOME PAGE CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/home_hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_cointainer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_abovefooter.css' %}">

    <!-- RECEPTI STRANICA CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/recipes_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe_template.css' %}">
    
    <!-- SEARCH RESULTS CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_style.css' %}">

    <!-- JELO STRANICA FULL CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/meal_no1_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/meal_no1_sub.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_single_recipe.css' %}">

    <!-- LOGIN AND REGISTER CONTENT STYLING -->
    <link rel="stylesheet" href="{% static 'css/register-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
    <!-- ACCOUNT CONTENT STYLING -->
    <link rel="stylesheet" href="{% static 'css/account_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/userprofile_style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- SLICK SLIDER SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <!-- SWEET ALERT STYLING -->
    <link rel="stylesheet" href="{% static 'css/sweet_alert_msg.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/tinymce-style.css' %}"> -->
    
    <title>Moja Kuhinja</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="header-name">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/mk-logo-vector.png' %}" alt="">
                </a>
            </div>
            <div class="header-container">
                <div class="header-left">
                    <nav>
                        <ul>
                            {% url 'home' as home %}
                            <li class="nav-link {% if request.path == home %}active-link{% endif %}"><a href="{% url 'home' %}">Početna</a></li>
                            {% url 'recipes' as recipes %}
                            <li class="nav-link {% if request.path == recipes %}active-link{% endif %}"><a href="{% url 'recipes' %}">Recepti</a></li>
                            {% url 'contact' as contact %}
                            <li class="nav-link {% if request.path == contact %}active-link{% endif %}"><a href="{% url 'contact' %}">Kontakt</a></li>
                            {% url 'search-recipe' as search %}
                            <li class="nav-link {% if request.path == search %}active-link{% endif %}"><a href="{% url 'search-recipe' %}">Pretraga</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    {% if user.is_authenticated %}
                        <div class="header-signup-active">
                            <p><span>
                                {{user.username}}
                                {% if request.user.is_superuser %}
                                    <p title="admin" class="user-roles-medal"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 512 512"><path d="M256.3-.0068C261.9-.0507 267.3 1.386 272.1 4.066L476.5 90.53C487.7 95.27 495.2 105.1 495.9 118.1C501.6 213.6 466.7 421.9 272.5 507.7C267.6 510.5 261.1 512.1 256.3 512C250.5 512.1 244.9 510.5 239.1 507.7C45.8 421.9 10.95 213.6 16.57 118.1C17.28 105.1 24.83 95.27 36.04 90.53L240.4 4.066C245.2 1.386 250.7-.0507 256.3-.0068H256.3zM266.1 363.4L364.2 263.6C392.2 234.7 390.5 186.6 358.1 159.5C331.8 135.8 291.5 140.2 266.1 166.5L256.4 176.1L245.9 166.5C221.4 140.2 180.2 135.8 153 159.5C121.5 186.6 119.8 234.7 147.8 263.6L244.2 363.4C251.2 369.5 260.8 369.5 266.1 363.4V363.4z"/></svg>
                                    </p>
                                {% endif %}
                            </span></p>
                            <a href="{% url 'account' %}">
                                <img src="{{ user.korisnik.avatar.url }}" alt="">
                            </a>
                        </div>
                        <div class="menu-bar">
                            <div id="nav-menu" onclick="menuClick()">
                                <div id="bar1" class="bar"></div>
                                <div id="bar2" class="bar"></div>
                                <div id="bar3" class="bar"></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="header-signin">
                            <a href="{% url 'login' %}">Prijava</a>
                        </div>
                        <div class="header-signup">
                            <a href="{% url 'register' %}">Registracija</a>
                        </div>
                        <div class="menu-bar">
                            <div id="nav-menu" onclick="menuClick()">
                                <div id="bar1" class="bar"></div>
                                <div id="bar2" class="bar"></div>
                                <div id="bar3" class="bar"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <section class="mobile_responsive">
        {% include 'home/mobile_navbar.html' %}
    </section>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/mk-logo-vector.png' %}" alt="">
                </a>
            </div>
            <div class="footer-text">
                <a href="{% url 'contact' %}">Kontakt</a>
                <a href="#">Uslovi korištenja</a>
                {% if user.is_authenticated %}
                <a href="{% url 'account' %}">Moj Profil</a>
                {% else %}
                <a href="{% url 'register' %}">Registracija</a>
                {% endif %}
            </div>
            <div class="footer-contact">
                <h4>Pratite nas</h4>
                <div class="contact_social_icons">
                    <a href="#"><span class="facebook"><i class="fa fa-facebook"></i></span></a>
                    <a href="#"><span class="twitter"><i class="fa fa-twitter"></i></span></a>
                    <a href="https://www.linkedin.com/in/kenanh1/"><span class="linkedin"><i class="fa fa-linkedin"></i></span></a>
                    <a href="#"><span class="instagram"><i class="fa fa-instagram"></i></span></a>
                    <a href="#"><span class="github"><i class="fa fa-github"></i></i></span></a>
                </div>
                <p>© 2022 mojakuhinja</p>
            </div>
    </footer>
    <!-- APP SCRIPTS -->
    <script src="{% static 'js/mealapp.js' %}"></script>
    <script src="{% static 'js/uploader.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <script src="{% static 'js/dynamic_ingredients.js' %}"></script>
    <script src="{% static 'js/update_uploader.js' %}"></script>
    <script src="{% static 'js/nav_menu.js' %}"></script>

    <!--TINYMCE SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

    <!--SLICK SCRIPTS -->
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.js' %}"></script>

    <!--SWEET ALERT SCRIPTS-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--INFINITE SCROLL SCRIPTS-->

    <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

   <script>
   $(document).ready(function(){
            $('#sortby').on('change', function(){
                var filter = $(this).val();
                currentURL = window.location.pathname
                console.log(currentURL);
                console.log(filter, "OVO JE VALUE")

                $.ajax({ 
                    type: 'GET',
                    // url: "{% url 'home' %}",
                    url: currentURL,
                    data: {filter: filter,},
                    dataType: 'JSON',
                    success: function (response) {
                        window.history.pushState(null, null, response.path)
                        $(".content__wrapper").html(response.data)
                    },
                    
                    error: function (error_data) {
                        console.log(error_data)
                    }
                });        
        });
    });

    var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0]
                })
    var infinite2 = new Waypoint.Infinite({
                element: $('.infinite-container2')[0]
                })
   </script>
</body>
</html>