{% load static %}
{% static 'images' as baseImg %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS CUSTOM -->
    <!-- HEADER I FOOTER KOJI NASLIJEDJUJEMO-->
    <link rel="stylesheet" href="{% static 'css/home_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_footer.css' %}">

    <!-- POCETNA STRANICA CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/home_hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_cointainer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_abovefooter.css' %}">

    <!-- RECEPTI STRANICA CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/recipes_main.css' %}">

    <!-- JELO STRANICA FULL CONTENT STYLING-->
    <link rel="stylesheet" href="{% static 'css/meal_no1_container.css' %}">
    <link rel="stylesheet" href="{% static 'css/meal_no1_sub.css' %}">

    <!-- LOGIN AND REGISTER CONTENT STYLING -->
    <link rel="stylesheet" href="{% static 'css/register-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
    <!-- ACCOUNT CONTENT STYLING -->
    <link rel="stylesheet" href="{% static 'css/account_style.css' %}">
    
    <title>Moja Kuhinja</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-left">
                <div class="header-name">
                    <h1><a href="{% url 'home' %}">Moja kuhinja</a></h1>
                </div>
                <div class="header-navigation">
                    <nav>
                        <ul>
                            <li><a href="{% url 'home' %}">Pocetna</a></li>
                            <li><a href="{% url 'recipes' %}">Recepti</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <div class="header-search">
                    <label for="search_click">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 512 512"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
                        </label>
                    <input type="checkbox" id="search_click">
                        <div class="search_slide">
                            <input type="text" class="searchbox_slide" placeholder="Search...">
                        </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="header-signin">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                    <div class="header-signup-active">
                        <p>Hi, <span>{{user.username}}</span></p>
                        <a href="{% url 'account' %}">
                            {% if request.user.korisnik.avatar %}
                            <img src="{{ request.user.korisnik.avatar.url }}" alt="">
                            {% else %}
                            <img src="{% static 'images/avatar-men.png'}" alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div class="menu-bar">
                        <div id="nav-menu" onclick="menuClick()">
                            <div id="bar1" class="bar"></div>
                            <div id="bar2" class="bar"></div>
                            <div id="bar3" class="bar"></div>
                        </div>
                    </div>
                    {% else %}
                    <div class="header-signin">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="header-signup">
                        <a href="{% url 'register' %}">Registracija</a>
                    </div>
                    <div class="menu-bar">
                        <div id="nav-menu" onclick="menuClick()">
                            <div id="bar1" class="bar"></div>
                            <div id="bar2" class="bar"></div>
                            <div id="bar3" class="bar"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-name">
                    <h2>Moja kuhinja</h2>
                </div>
                <div class="footer-social">
                    <span class="facebook"><i class="fa fa-facebook"></i></span>
                    <span class="instagram"><i class="fa fa-instagram"></i></span>
                    <span class="twitter"><i class="fa fa-twitter"></i></span>
                </div>
            </div>
            
            <div class="footer-text">
                <div class="footer-heading">
                    <a href="#">Presentations</a>
                    <a href="#">Professionals</a>
                    <a href="#">Stores</a>
                </div>
                <div class="footer-heading">
                    <a href="#">Webinars</a>
                    <a href="#">Workshops</a>
                    <a href="#">Local Meetups</a>
                </div>
                <div class="footer-heading">
                    <a href="#">Our Initiatives</a>
                    <a href="#">Giving Back</a>
                    <a href="#">Communities</a>
                </div>
                <div class="footer-heading">
                    <a href="#">Contact Form</a>
                    <a href="#">Work With Us</a>
                    <a href="#">Visit Us</a>
                </div>
            </div>
            <div class="madeBy">
                <p>Made in Sarajevo City.</p>
            </div>
    </footer>
    <script src="{% static 'js/mealapp.js' %}"></script>
</body>
</html>