{% extends 'base.html' %}

{% block content %}

    <div class="contact_container">
        <div class="contact_media" style="background-image: url('{{baseImg}}/wallpaper_v3.png')">
            <h3>Kontaktirajte nas</h3>
            <div class="contact_social_icons">
                <a href="#"><span class="facebook"><i class="fa fa-facebook"></i></span></a>
                <a href="#"><span class="twitter"><i class="fa fa-twitter"></i></span></a>
                <a href="#"><span class="linkedin"><i class="fa fa-linkedin"></i></span></a>
                <a href="#"><span class="instagram"><i class="fa fa-instagram"></i></span></a>
                <a href="#"><span class="google"><i class="fa fa-google-plus"></i></span></a>
            </div>
        </div>
        <div class="contact_text">
            
        </div>
    </div>

{% endblock %}