{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section class="hero">
        {% include 'home_hero.html' %}
    </section>
    <section class=page__container>
        <div class="container">
            <div class="navbar__left">
                <h2>Recepti</h2>
                <nav>
                    <ul class=navbar__list>
                        <li class="navbar__parent">
                            <label for="btn" class="first">Placeholder</label>
                            <input type="checkbox" id="btn">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-2" class="second">Placeholder</label>
                            <input type="checkbox" id="btn-2">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-3" class="third">Placeholder</label>
                            <input type="checkbox" id="btn-3">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-4" class="fourth">Placeholder</label>
                            <input type="checkbox" id="btn-4">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-5" class="fifth">Placeholder</label>
                            <input type="checkbox" id="btn-5">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="content__top">
                    <div class="content__search">
                        <form action="">
                            <input type="text" name="q" class="search_box" placeholder="Pretražite recepte . . .">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <!-- <input type="text" class="search_box" placeholder="Pretražite recepte . . ."> -->
                        <!-- <i class="fa fa-search"></i> -->
                    </div>
                    <div class="content__sortby">
                        <select name="sortby" id="sortby">
                            <option hidden>Poredaj po</option>
                            <option class="optionhover" value="latest">Zadnje dodato</option>
                            <option class="optionhover" value="top_rated">Ocjena jela</option>
                            <option class="optionhover" value="trending">Popularno</option>
                        </select>
                    </div>
                </div>
                <div class="content__main">
                    {% if is_searched %}
                        {% for x in search_result %}
                            {% block meal-media3 %}
                            {% include 'meal_media.html' %}
                            {% endblock %}
                        {% endfor %}
                    {% else %}
                        {% for x in allr %}
                            {% block meal-media2 %}
                            {% include 'meal_media.html' %}
                            {% endblock %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="content__bottom">
                    {% if allr.has_previous %}
                    <a href="?page=1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"/></svg>
                    </a>
                    <a href="?page={{allr.previous_page_number}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                    </a>
                    {% endif %}
                    <p>{{ allr.number }} od {{allr.paginator.num_pages}}</p>
                    {% if allr.has_next %}
                    <a href="?page={{allr.next_page_number}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/></svg>
                    </a>
                    <a href="?page={{allr.paginator.num_pages}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"/></svg>
                    </a>
                    {% endif %}
                </div>
            </div>
    </section>
    <section class="video-box">
        {% include 'home_video.html' %}
    </section>
    <section class="above-footer">
        {% include 'home_abovefooter.html' %}
    </section>
{% endblock %}