{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section class="hero">
        {% include 'home_hero.html' %}
    </section>
    <section class=page__container>
        <div class="container">
            <div class="navbar__left">
                <h2>Recipes</h2>
                <nav>
                    <ul class=navbar__list>
                        <li class="navbar__parent">
                            <label for="btn" class="first">Placeholder</label>
                            <input type="checkbox" id="btn">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-2" class="second">Placeholder</label>
                            <input type="checkbox" id="btn-2">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-3" class="third">Placeholder</label>
                            <input type="checkbox" id="btn-3">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-4" class="fourth">Placeholder</label>
                            <input type="checkbox" id="btn-4">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                        <li class="navbar__parent">
                            <label for="btn-5" class="fifth">Placeholder</label>
                            <input type="checkbox" id="btn-5">
                            <ul class="navbar__children">
                                <li class="sub__children">Sublist item1</li>
                                <li class="sub__children">Sublist item2</li>
                                <li class="sub__children">Sublist item3</li>
                                <li class="sub__children">Sublist item4</li>
                                <li class="sub__children">Sublist item5</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="content__top">
                    <div class="content__search">
                        <input type="text" class="search_box" placeholder="Search for recipes...">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="content__sortby">
                        <button>Sort by:</button>
                        <ul>
                            <li>Sort by: Latest</li>
                            <li>Sort by: Top Rated</li>
                            <li>Sort by: Trending</li>
                        </ul>
                    </div>
                </div>
                <div class="content__main">
                    {% for x in allr %}
                        {% block meal-media2 %}
                        {% include 'meal_media.html' %}
                        {% endblock %}
                    {% endfor %}
                </div>
                <div class="content__bottom">
                    <a href="#" class="content__pagination"><i class="fa fa-angle-left"></i></a>
                    <a href="#" class="content__pagination">1</a>
                    <a href="#" class="content__pagination">2</a>
                    <a href="#" class="content__pagination">3</a>
                    <a href="#" class="content__pagination">4</a>
                    <a href="#" class="content__pagination"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
    </section>
    <section class="video-box">
        {% include 'home_video.html' %}
    </section>
    <section class="above-footer">
        {% include 'home_abovefooter.html' %}
    </section>
{% endblock %}