{% load static %}

<div class="video">
    <div class="video_item1">
        <div class="video_media">
            <img src="{% static 'images/video-img2.jpg' %}" alt="food plate" class="video-picture">
            <div class="video_play"><i class="fa fa-play-circle-o"></i></div>
        </div>
        <div class="video_text">
            <h4>Bussines Presentation Course</h4>
            <p>by Tomas Haller</p>
        </div>
    </div>
    <div class="video_item2">
        <div class="video_media">
            <img src="{% static 'images/video-img1.jpg' %}" alt="food plate" class="video-picture">
            <div class="video_play"><i class="fa fa-play-circle-o"></i></div>
        </div>
        <div class="video_text">
            <h4>Bussines Presentation Course</h4>
            <p>by Tomas Haller</p>
        </div>
    </div>
    <div class="video_item3">
        <div class="video_media">
            <img src="{% static 'images/video-img3.jpg' %}" alt="food plate" class="video-picture">
            <div class="video_play"><i class="fa fa-play-circle-o"></i></div>
        </div>
        <div class="video_text">
            <h4>Bussines Presentation Course</h4>
            <p>by Tomas Haller</p>
        </div>
    </div>
    <div class="video_item4">
        <div class="video_media">
            <img src="{% static 'images/video-img4.jpg' %}" alt="food plate" class="video-picture">
            <div class="video_play"><i class="fa fa-play-circle-o"></i></div>
        </div>
        <div class="video_text">
            <h4>Bussines Presentation Course</h4>
            <p>by Tomas Haller</p>
        </div>
    </div>
</div>