{% extends 'base.html' %}

{% block content %}
{% load static %}
<section>
    <div class="meal_container">
        <div class="product__media">
            <div class="product__show">
                <img src="{{ object.slika_jela.url }}" alt="food-plate1">
            </div>
            <div class="product__description">
                <div class="description__top">
                    <h1>{{ object.naziv }}</h1>
                    <p>{{ object.nacin_pripreme_id.opis_jela }}</p>
                </div>
                <div class="description__mid">
                    <div class="description__left">
                        <svg class="clock-svg" width="28" height="28" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="clock"><circle fill="none" stroke="#000" stroke-width="1.1" cx="10" cy="10" r="9"></circle><rect x="9" y="4" width="1" height="7"></rect><path fill="none" stroke="#000" stroke-width="1.1" d="M13.018,14.197 L9.445,10.625"></path></svg>
                        <h3>Active Time</h3>
                        <p>{{ object.nacin_pripreme_id.vrijeme_pripreme }} minuta</p>
                    </div>
                    <div class="description__mid__center">
                        <svg width="28" height="28" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="future"><polyline points="19 2 18 2 18 6 14 6 14 7 19 7 19 2"></polyline><path fill="none" stroke="#000" stroke-width="1.1" d="M18,6.548 C16.709,3.29 13.354,1 9.6,1 C4.6,1 0.6,5 0.6,10 C0.6,15 4.6,19 9.6,19 C14.6,19 18.6,15 18.6,10"></path><rect x="9" y="4" width="1" height="7"></rect><path d="M13.018,14.197 L9.445,10.625" fill="none" stroke="#000" stroke-width="1.1"></path></svg>
                        <h3>Total Time</h3>
                        <p>{{ object.nacin_pripreme_id.ukupno_vrijeme_pripreme }} minuta</p>
                    </div>
                    <div class="description__mid__right">
                        <svg width="28" height="28" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="users"><circle fill="none" stroke="#000" stroke-width="1.1" cx="7.7" cy="8.6" r="3.5"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M1,18.1 C1.7,14.6 4.4,12.1 7.6,12.1 C10.9,12.1 13.7,14.8 14.3,18.3"></path><path fill="none" stroke="#000" stroke-width="1.1" d="M11.4,4 C12.8,2.4 15.4,2.8 16.3,4.7 C17.2,6.6 15.7,8.9 13.6,8.9 C16.5,8.9 18.8,11.3 19.2,14.1"></path></svg>
                        <h3>Broj osoba</h3>
                        <p>Serviranje {{ object.nacin_pripreme_id.broj_osoba }}</p>
                    </div>
                </div>
                <div class="description__bottom">
                    <div class="description__bottom__left">
                        <h3>Created by <a href="#">{{ object.korisnik_id.ime }} {{ object.korisnik_id.prezime }}</a></h3>
                        <p>21 recipes</p>
                    </div>
                    <div class="description__bottom__right">
                        <a href="#" class="dodaj-svg" title="Save Recipe">
                            <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="plus-circle"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9.5" cy="9.5" r="9"></circle><line fill="none" stroke="#000" x1="9.5" y1="5" x2="9.5" y2="14"></line><line fill="none" stroke="#000" x1="5" y1="9.5" x2="14" y2="9.5"></line></svg>
                        </a>
                        <a href="#" class="kolica-svg" title="Shopping List">
                            <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="cart"><circle cx="7.3" cy="17.3" r="1.4"></circle><circle cx="13.3" cy="17.3" r="1.4"></circle><polyline fill="none" stroke="#000" points="0 2 3.2 4 5.3 12.5 16 12.5 18 6.5 8 6.5"></polyline></svg>
                        </a>
                        <a href="#" class="print-svg" title="Print Recipe">
                            <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="print"><polyline fill="none" stroke="#000" points="4.5 13.5 1.5 13.5 1.5 6.5 18.5 6.5 18.5 13.5 15.5 13.5"></polyline><polyline fill="none" stroke="#000" points="15.5 6.5 15.5 2.5 4.5 2.5 4.5 6.5"></polyline><rect fill="none" stroke="#000" width="11" height="6" x="4.5" y="11.5"></rect><rect width="8" height="1" x="6" y="13"></rect><rect width="8" height="1" x="6" y="15"></rect></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__text">
            <div class="product__text__left">
                <div class="product__preparation">
                    <h3>How to Make It</h3>
                    <div class="step1">
                        <label for="step_btn">
                            <svg width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="check"><polyline fill="none" stroke="#eb4a36" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg>
                        </label>
                        <input type="checkbox" id="step_btn">
                        <div class="step__text">
                            <h4>1. STEP <span>__________________________________________________________</span></h4>
                            <p>Labour, of evaluated would he the a the our what is in the arduous sides behavioural is which the have didn't kicked records the it framework by the for traveler sure the can most well her. Entered have break himself cheek, and activity, for bit of text.</p>
                        </div>
                    </div>
                    <div class="step2">
                        <label for="step_btn2">
                            <svg width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="check"><polyline fill="none" stroke="#eb4a36" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg>
                        </label>
                        <input type="checkbox" id="step_btn2">
                        <div class="step__text">
                            <h4>2. STEP <span>__________________________________________________________</span></h4>
                            <p>Labour, of evaluated would he the a the our what is in the arduous sides behavioural is which the have didn't kicked records the it framework by the for traveler sure the can most well her. Entered have break himself cheek, and activity, for bit of text.</p>
                        </div>
                    </div>
                    <div class="step3">
                        <label for="step_btn3">
                            <svg width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="check"><polyline fill="none" stroke="#eb4a36" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg>
                        </label>
                        <input type="checkbox" id="step_btn3">
                        <div class="step__text">
                            <h4>3. STEP <span>__________________________________________________________</span></h4>
                            <p>Labour, of evaluated would he the a the our what is in the arduous sides behavioural is which the have didn't kicked records the it framework by the for traveler sure the can most well her. Entered have break himself cheek, and activity, for bit of text.</p>
                        </div>
                    </div>
                    <div class="step4">
                        <label for="step_btn4">
                            <svg width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="check"><polyline fill="none" stroke="#eb4a36" stroke-width="1.1" points="4,10 8,15 17,4"></polyline></svg>
                        </label>
                        <input type="checkbox" id="step_btn4">
                        <div class="step__text">
                            <h4>4. STEP <span>__________________________________________________________</span></h4>
                            <p>Labour, of evaluated would he the a the our what is in the arduous sides behavioural is which the have didn't kicked records the it framework by the for traveler sure the can most well her. Entered have break himself cheek, and activity, for bit of text.</p>
                        </div>
                    </div>
                </div>
                <div class="product__comments">
                    <h3>Comments</h3>
                    <div class="first__comment">
                        
                        <div class="comm-header">
                            <div class="comm-left">
                                <div class="first-comm-picture">
                                    <img src="{{baseImg}}/avatar-men.png" alt="female avatar">
                                </div>
                                <div class="comm-info">
                                    <h4>Tom Solender</h4>
                                    <p>12 day ago</p>
                                </div>
                            </div>
                            <div class="comm-right">
                                <a href="#">Reply</a>
                            </div>
                        </div>
                        <div class="comm-text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="first__reply">
                        <div class="comm-header">
                            <div class="comm-left">
                                <div class="first-comm-picture">
                                    <img src="{{ object.korisnik_id.slika_korisnika.url }}" alt="female avatar">
                                </div>
                                <div class="comm-info">
                                    <h4>{{ object.korisnik_id.ime}} {{ object.korisnik_id.prezime}}</h4>
                                    <p>12 day ago</p>
                                </div>
                            </div>
                            <div class="comm-right">
                                <a href="#">Reply</a>
                            </div>
                        </div>
                        <div class="comm-text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="second__reply">
                        <div class="comm-header">
                            <div class="comm-left">
                                <div class="first-comm-picture">
                                    <img src="{{baseImg}}/avatar-men.png" alt="female avatar">
                                </div>
                                <div class="comm-info">
                                    <h4>Tom Solender</h4>
                                    <p>11 day ago</p>
                                </div>
                            </div>
                            <div class="comm-right">
                                <a href="#">Reply</a>
                            </div>
                        </div>
                        <div class="comm-text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__text__right">
                <div class="product__igredients">
                    <h3>Ingredients</h3>
                    <ul>
                        <li>1 pound fresh prepared pizza dough</li>
                        <li>6 ounces shredded mozzarella cheese</li>
                        <li>3/4 cup of ricotta cheese</li>
                        <li>1 large egg yolk</li>
                        <li>1/2 teaspoon lemon zest</li>
                        <li>2 finely grated garlic cloves</li>
                        <li>1/2 teaspoon kosher salt</li>
                        <li>1/4 teaspoon black pepper</li>
                        <li>1 large egg</li>
                        <li>1 teaspoon dried Italian seasoning</li>
                    </ul>
                </div>
                <div class="product__tags">
                    <h3>Tags</h3>
                    <div class="tagovi">
                    <a class="tag_for_product" href="#">{{ object.vrsta_jela_id.vrsta_jela}}</a>
                    <a class="tag_for_product" href="#">{{ object.vrsta_obroka_id.vrsta_obroka}}</a>
                    <a class="tag_for_product" href="#">Dinner</a>
                    <a class="tag_for_product" href="#">Dinner</a>
                    </div>
                </div>
                <div class="product__share">
                    <h3>Share Recipe</h3>
                    <div class="ikonice">
                        <span class="facebook"><i class="fa fa-facebook"></i></span>
                        <span class="linkedin"><i class="fa fa-linkedin"></i></span>
                        <span class="twitter"><i class="fa fa-twitter"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sub__container__recipes">
    <div class="meal__content__sub">
        <h2>Other Recipes You May Like</h2>
        <div class="content__sub__bottom">
            {% for x in svi_recepti %}
            {% block meal-media-template2 %}
            {% include 'meal_media.html' %}
            {% endblock %}
            {% endfor %}   
        </div>
    </div>
</section>

{% endblock %}