{% extends 'base.html' %}

{% block content %}
<div class="register-container">
    <div class="register-text">
        <h3>Niste registrovani? <br>Registrujte se u par koraka.</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="register-username">
                <span>Korisničko ime</span>
                {{ form.username }}
            </div>
            <div class="register-email">
                <span>Email</span>
                {{ form.email }}
            </div>
            <div class="register-password">
                <span>Lozinka</span>
                {{ form.password1 }}
            </div>
            <div class="register-password-confirm">
                <span>Potvrdite lozinku</span>
                {{ form.password2 }}
            </div>
            <div class="register-submit">
                <input type="submit" name="Create User" value="Registrujte se">
            </div>
        </form>

        {% if form.errors %}
            {% for field in form %}
                {{field.errors}}
            {% endfor %}
        {% endif %}

        {% for message in messages %}
           <p class="alert-login-message">{{message}}</p>
        {% endfor %}
    </div>
    <div class="register-media" style="background-image: url('{{baseImg}}/wallpaper_v3.png')">
        <h1>Dobrodošli nazad</h1>
        <p>Već ste registrovani?<br>Kliknite dugme ispod da bi se prijavili.</p>
        <a href="{% url 'login' %}">Prijava</a>
    </div>
</div>

{% endblock %}