{% extends 'base.html' %}

{% block content %}

    <div class="terms_container">
        <div class="terms_title">
            <h2>Uslovi korištenja</h2>
        </div>
        <div class="terms_content">
            <p>Posjetivši Moju Kuhinju prihvaćate sljedeća pravila i uslove korištenja.</p>
            <h3>KORIŠTENJE USLUGA</h3>
            <p>
                Informacije postavljene na sajtu vezane za hranu i recepte podliježu promjenama.
                <br>Moja Kuhinja ne garantuje da su pružene informacije, uprkos izvorima tačne, potpune, pouzdane ili bez greške.
                <br>Moja Kuhinja odbija svaku odgovornost za netačnost, grešku ili nepotpunost sadržaja.
            </p>
            <h3>SADRŽAJ</h3>
            <p>
                Molimo vas da zatražite dozvolu prije objavljivanja sadržaja koji se nalazi na stranici.<br>
                Sadržaj je zaštićen autorskim pravima i ne smije se kopirati. Ukoliko želite da kopirate sadržaj, molimo vas da nas kontaktirate.
            </p>
            <h3>KOMENTARI</h3>
            <p>
                Da biste koristili komentare, od vas se može tražiti da pružite informacije o sebi, uključujući vaše ime i e-mail adresu, kao i druge lične podatke.<br>
                Slažete se da će sve informacije koje date uvijek biti tačne i ažurne. Ne smijete koristiti podatke nekog drugog ili e-mail adresu koja nije vaša.<br>
                Komentare ne možete koristiti ni za kakvu nezakonitu ili neovlašćenu svrhu.
                <br>Saglasni ste da nećete:<br>
                - objavljivati i/ili prenositi zakonom zaštićene sadržaje;<br>
                - objavljivati i/ili slati vulgarne, klevetničke, pornografske, uvredljive, prijeteće, rasističke, fašističke i šovinističke sadržaje;<br>
                - objavljivati reklamne ili promotivne materijale;<br>
                - lažno se predstavljati;<br>
                - širiti nacionalnu netrpeljivost ili vrijeđati građane Bosne i Hercegovine ili bilo koje druge zemlje po nacionalnom ili bilo kojem drugom osnovu;<br>
                - na bilo koji drugi način zloupotrebljavati komentare.
            </p>
            <h3>MIJENJANJE USLOVA KORIŠTENJA</h3>
            <p>U bilo koje vrijeme možemo izmijeniti USLOVE KORIŠTENJA.
                <br>Zadržavamo pravo na izmjene bilo kojeg dijela stranice, uključujući i ove uslove korištenja, u bilo koje vrijeme.
                Važećom verzijom se smatra ona trenutno izložena na stranici.</p>
        </div>
    </div>

{% endblock %}
