{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section class="hero">
        {% include 'home/hero.html' %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = "{{message}}"
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: m,
                        showConfirmButton: false,
                        timer: 1500
                        })
                </script>
            {% elif message.tags == "warning" %}
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = "{{message}}"
                    Swal.fire({
                        position: 'top-end',
                        icon: 'warning',
                        title: m,
                        showConfirmButton: false,
                        timer: 1500
                        })
                </script>
            {% endif %}
        {% endfor %}
    </section>
    <section class=page__container>
        <div class="container">
            {% include 'home/navbar.html' %}
            <div class="content">
                <div class="content__top">
                    <div class="content__search">
                        <form action="">
                            <input type="text" name="q" class="search_box" placeholder="Pretražite recepte . . .">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="content__sortby">
                        <form action="{% url 'home' %}">
                            <select name="sortby" id="sortby">
                                <option hidden>Poredaj po</option>
                                <option class="optionhover" value="zadnje_dodato">Zadnje dodato</option>
                                <option class="optionhover" value="ocjena_jela">Ocjena jela</option>
                                <option class="optionhover" value="popularno">Popularno</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="content__wrapper">
                    <div class="content__main">
                        {% if is_searched %}
                            {% for x in search_results %}
                                {% block meal-media3 %}
                                {% include 'recipes/meal_media.html' %}
                                {% endblock %}
                                {% empty %}
                                <p class="empty-search-result">Nema rezultata pretraživanja . . .</p>
                            {% endfor %}
                        {% else %}
                            {% for x in allr %}
                                {% block meal-media2 %}
                                {% include 'recipes/meal_media.html' %}
                                {% endblock %}
                            {% endfor %}
                        {% endif %}
                        {% for x in filter_recipes %}
                                {% block filter-results %}
                                {% include 'recipes/meal_media.html' %}
                                {% endblock %}
                        {% endfor %}
                    </div>
                    <div class="content__bottom">
                        {% if allr.has_previous %}
                        <a href="?page=1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"/></svg>
                        </a>
                        <a href="?page={{allr.previous_page_number}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                        </a>
                        {% endif %}
    
                        {% if allr %}
                        <p>{{ allr.number }} od {{allr.paginator.num_pages}}</p>
                        {% endif %}
    
                        {% if allr.has_next %}
                        <a href="?page={{allr.next_page_number}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/></svg>
                        </a>
                        <a href="?page={{allr.paginator.num_pages}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"/></svg>
                        </a>
                        {% endif %}
    
                        {% if filter_recipes.has_previous %}
                        <a href="?page=1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"/></svg>
                        </a>
                        <a href="?page={{filter_recipes.previous_page_number}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                        </a>
                        {% endif %}
                        
                        {% if filter_recipes %}
                        <p>{{ filter_recipes.number }} od {{filter_recipes.paginator.num_pages}}</p>
                        {% endif %}
    
                        {% if filter_recipes.has_next %}
                        <a href="?page={{filter_recipes.next_page_number}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--primary-color)" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/></svg>
                        </a>
                        <a href="?page={{filter_recipes.paginator.num_pages}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><path fill="var(--primary-color)" d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"/></svg>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="video-box">
        {% include 'home/videos.html' %}
    </section>
    <section class="above-footer">
        {% include 'home/subscribe.html' %}
    </section>
{% endblock %}
