<div class="navbar__left">
    <h2>Recepti</h2>
    <nav>
        <ul class=navbar__list>
            <li class="navbar__parent">
                <label onclick="navbarArrow(this)" for="btn" class="first">Vrsta jela<span class="navbar__pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--text-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                </span></label>
                <input type="checkbox" id="btn">
                <ul class="navbar__children">
                    {% for vrstajela in vrstaobroka_qs %}
                    <li class="sub__children"><a href="{% url 'category-vrsta' vrstajela|lower %}">{{vrstajela}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            
            <li class="navbar__parent">
                <label onclick="navbarArrow(this)" for="btn-2" class="second">Vrijeme pripreme<span class="navbar__pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--text-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                </span></label>
                <input type="checkbox" id="btn-2">
                <ul class="navbar__children">
                    {% for vrijeme, minute in vrijeme_qs.items %}
                    <li class="sub__children">
                        <a href="{% url 'category-vrijeme' vrijeme %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 512 512"><path d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z"/></svg>
                            {{minute}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="navbar__parent">
                <label onclick="navbarArrow(this)" for="btn-3" class="third">Težina pripreme<span class="navbar__pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--text-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>
                </span></label>
                <input type="checkbox" id="btn-3">
                <ul class="navbar__children">
                    {% for tezinapripreme in tezina_qs %}
                    <li class="sub__children"><a href="{% url 'category-tezina' tezinapripreme|lower %}">{{tezinapripreme}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="navbar__parent">
                <label onclick="navbarArrow(this)" for="btn-4" class="fourth">Serviranje<span class="navbar__pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 512"><path fill="var(--text-color)" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/></svg>

                </span></label>
                <input type="checkbox" id="btn-4">
                <ul class="navbar__children">
                    {% for broj, osobe in serviranje_qs.items %}
                    <li class="sub__children"><a href="{% url 'category-serviranje' broj %}">{{osobe}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</div>