<div class="navbar__left">
    <h2>Recepti</h2>
    <nav>
        <ul class=navbar__list>
            <li class="navbar__parent">
                <label for="btn" class="first">Vrsta jela</label>
                <input type="checkbox" id="btn">
                <ul class="navbar__children">
                    <li class="sub__children"><input type="submit" value="Doručak" name="vj_dorucak"></li>
                    <li class="sub__children"><input type="submit" value="Ručak" name="vj_rucak"></li>
                    <li class="sub__children"><input type="submit" value="Večera" name="vj_večera"></li>
                    <li class="sub__children"><input type="submit" value="Poslastica" name="vj_poslastica"></li>
                    <li class="sub__children"><input type="submit" value="Užina" name="vj_užina"></li>
                </ul>
            </li>
            <li class="navbar__parent">
                <label for="btn-2" class="second">Vrijeme pripreme</label>
                <input type="checkbox" id="btn-2">
                <ul class="navbar__children">
                    <li class="sub__children">Sublist item1</li>
                    <li class="sub__children">Sublist item2</li>
                    <li class="sub__children">Sublist item3</li>
                    <li class="sub__children">Sublist item4</li>
                    <li class="sub__children">Sublist item5</li>
                </ul>
            </li>
            <li class="navbar__parent">
                <label for="btn-3" class="third">Težina pripreme</label>
                <input type="checkbox" id="btn-3">
                <ul class="navbar__children">
                    <li class="sub__children">Sublist item1</li>
                    <li class="sub__children">Sublist item2</li>
                    <li class="sub__children">Sublist item3</li>
                    <li class="sub__children">Sublist item4</li>
                    <li class="sub__children">Sublist item5</li>
                </ul>
            </li>
            <li class="navbar__parent">
                <label for="btn-4" class="fourth">Placeholder</label>
                <input type="checkbox" id="btn-4">
                <ul class="navbar__children">
                    <li class="sub__children">Sublist item1</li>
                    <li class="sub__children">Sublist item2</li>
                    <li class="sub__children">Sublist item3</li>
                    <li class="sub__children">Sublist item4</li>
                    <li class="sub__children">Sublist item5</li>
                </ul>
            </li>
            <li class="navbar__parent">
                <label for="btn-5" class="fifth">Placeholder</label>
                <input type="checkbox" id="btn-5">
                <ul class="navbar__children">
                    <li class="sub__children">Sublist item1</li>
                    <li class="sub__children">Sublist item2</li>
                    <li class="sub__children">Sublist item3</li>
                    <li class="sub__children">Sublist item4</li>
                    <li class="sub__children">Sublist item5</li>
                </ul>
            </li>
        </ul>
    </nav>
</div>