{% load static %}

<div class="video-container">
    {% for video in videos %}
        <!-- <video width="220" height="350" controls muted poster="{{video.poster.url}}">
            <source src="{{video.video.url}}" type='video/mp4'>
            Your browser does not support the video tag.
        </video> -->
        <div class="video_item">
            <video width="200" height="350" controls muted poster="{{video.poster.url}}">
                <source src="{{video.video.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
            <div class="video_text">
                <h4>{{video.title}}</h4>
                <p>{{video.video_src}}/ {{video.autor}}</p>
            </div>
        </div>
    {% endfor %}
</div>