{% extends 'base.html' %}

{% block content %}
<div class="account-container">
    {% include 'account/sidebar.html' %}
    <div class="myrecipes-content">
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = "{{message}}"
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: m,
                        showConfirmButton: false,
                        timer: 1500
                        })
                </script>
            {% elif message.tags == "info" %}
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = "{{message}}"
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: m,
                        showConfirmButton: false,
                        timer: 1500
                        })
                </script>
            {% endif %}
        {% endfor %}
        <h2>Moji Recepti</h2>
        <div class="myrecipes-container">
            {% for x in myrecipes %}
                {% block myrecipes %}
                {% include 'recipes/recipe_media.html' %}
                {% endblock %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}