{% extends 'base.html' %}

{% block content %}

<div class="user_container_wrap">
    <div class="user_container_content">
        <div class="user_container_media">
            <img src="{{ displayUser.avatar.url }}" alt="">
        </div>
        <div class="user_container_info">
            <h2>{{displayUser.user.first_name}} {{displayUser.user.last_name}}</h2>
            <h3>@{{displayUser.user.username}}</h3>
            <p class="user_bio">{{displayUser.biografija}}</p>
            <p>Objavljeni recepti:{{userRecipes.count}} </p>
            <p>Omiljeni recepti: {{displayUser.favourites.all.count}}</p>
            <p>Postavljeni komentari: {{userComments.count}} </p>

        </div>
    </div>
    <div class="user_container_meals">
        {% for x in userRecipes %}
        {% block user-recipes %}
        {% include 'recipes/meal_media.html' %}
        {% endblock %}
        {% endfor %}
    </div>
</div>

{% endblock %}