<div class="content__main infinite-container2">
    {% for x in ajax_recipes %}
        {% block meal-media2 %}
        {% include 'recipes/meal_media_infinite_scroll.html' %}
        {% endblock %}
    {% endfor %}
</div>
<div class="content__bottom">
    {% if ajax_recipes %}
    <p>{{ ajax_recipes.number }} od {{ajax_recipes.paginator.num_pages}}</p>
    {% endif %}


    {% if ajax_recipes.has_next %}
        <a class="infinite-more-link" href="?page={{ ajax_recipes.next_page_number }}">More</a>
    {% endif %}
</div>