<div class="slick__main__item">
    <div class="main__media">
        <a href="{% url 'jelo' x.id %}"><img src="{{ x.slika_jela.url }}"  alt="food picture" class="media_picture"></a>
        <div class="main__bookmark">
            <form action="{% url 'add_favourite' x.id %}" method="POST">
                {% csrf_token %}
                {% if x in user_favourites %}
                <button class="recipe__checked"  type="submit" name="post_id" value="{{x.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="var(--primary-color)" d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 384 512"><path fill="var(--primary-color)" d="M384 48V512l-192-112L0 512V48C0 21.5 21.5 0 48 0h288C362.5 0 384 21.5 384 48z"/></svg> -->
                </button>
                {% else %}
                <button class="recipe__unchecked"  type="submit" name="post_id" value="{{x.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="white" d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 384 512"><path fill="white" d="M384 48V512l-192-112L0 512V48C0 21.5 21.5 0 48 0h288C362.5 0 384 21.5 384 48z"/></svg> -->
                </button>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="main__text">
        <h3>{{ x.naziv }}</h3>
        <div class="main__text__sub">
            <div class="main__text__sub__left">
                <span class="star"><i class="fa fa-star"></i></span>
                {% if x.avg_rating == 0 %}
                <span class="rating">-</span>
                {% else %}
                <span class="rating">{{ x.avg_rating }}</span>
                {% endif %}
                {% if x.total_votes == 0 %}
                {% else %}
                <span class="voting">( {{x.total_votes}} )</span>
                {% endif %}
            </div>
            <div class="main__text__sub__right">by <a href="{% url 'user-acc' x.user.id %}">{{x.user.user.username}}</a></div>

        </div>
    </div>
</div>