*{
    padding: 0;
    margin: 0;
}

.footer-container{
    max-width: 1180px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 2px solid var(--secondary-color);
    border-top: 2px solid var(--secondary-color);
    margin-bottom:20px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: space-around;
    padding:20px 0;
    align-items: center;
}
.footer-logo img{
    width:150px;
    height:100px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-text a{
    color: black;
    padding:5px;
    text-decoration: none;
}
.footer-contact{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.footer-contact h4{
    margin-bottom:5px;
}
.footer-contact p{
    margin-top:10px;
    font-size: 12px;
}

/* ----------MEDIA SCREEN CONTENT--------- */

/* MEDIA SCREEN FOR SMALL DEVICES */
 @media screen and (max-width:600px){
    .footer-container{
        flex-direction: column;
        margin:0 20px;
    }
    .footer-logo{
    display:none;
    }
    .footer-text{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:10px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px){
    .footer-logo{
    display:none;
    }
    .footer-container{
        margin:0 20px;
    }

}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .footer-container{
        margin:0 20px;
    }
}
