*{
    padding: 0;
    margin: 0;
}

.footer-container{
    /* width:1180px; */
    max-width: 1180px;
    margin-left:auto;
    margin-right:auto;
}
.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-heading a {
    color: black;
    padding:5px;
    text-decoration: none;
}
.footer-heading a:hover {
    color: rgb(85, 85, 78);
}

.footer-top{
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-top:2px solid var(--secondary-color);
    border-bottom:2px solid var(--secondary-color);
    padding:5px 0;
}
.footer-name h2{
    font-family: "Leckerli One", cursive;
    color: var(--primary-color);
    font-size:30px;
    font-weight: 200;
    padding-left:5px;
}
.footer-text {
    color:var(--primary-color);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight:500;
    background-color:var(--secondary-color);
    padding:20px;
    border-radius:5px;
    justify-content: space-around;
}

.madeBy {
    color: var(--primary-color);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding:20px 0;
}

.footer-container .fa{
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 500px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    cursor:pointer;
    background-color: var(--secondary-color);
}
.footer-social{
    display:flex;
}
.footer-social a{
    text-decoration:none;
}

.footer-container .fa:hover{
    color: var(--secondary-color);
    font-size: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    transition:background-color 1s;
}
/* ----------MEDIA SCREEN CONTENT--------- */

/* MEDIA SCREEN FOR SMALL DEVICES */
@media screen and (max-width:600px){
    .footer-text{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        padding:10px 0;
    }
    .footer-heading{
        margin:10px 20px;
    }
    .footer-name{
        display:none;
    }
    .footer-top{
        justify-content: center;
    }
    .madeBy p{
        text-align: center;
    }
}

@media screen and (max-width: 1220px){
    .footer-container{
        margin:0 20px;
    }
}
