*{
    margin:0;
    padding:0;
}

.video-container{
    max-width: 1180px;
    height: auto;
    margin:20px auto 40px;
    display:flex;
    font-family: 'Montserrat', sans-serif;
}
.video_item{
    position:relative;
    height: 350px;
}
.video_item video{
    border-radius: 20px;
}
.video_item video[poster]{
    height:100%;
    width:100%;
}
.video_text{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:0;
    width:100%;
}
.video_text h4{
    color:white;
    text-shadow: 0 0 10px black;
    font-size:14px;
    padding:5px 0 0 10px;

}

.video_text p{
    color:white;
    text-shadow: 0 0 10px black;
    padding:5px 0 0 10px;
    font-size:12px;
}

@media screen and (max-width:1024px){
    .video-container{
        margin:0 20px;
    }
}
