*{
    margin:0;
    padding:0;
}
:root{
    --primary-color:#c7551f;
    --secondary-color:#f9ebe5;
    --tertiary-color:#dbdbdb;
    /* #eb4a36 */
    /* primary/#f9ebe5 */
    /* primary/#c7551f */
}
.kocina__header{
    display:flex;
    width: 1180px;
    margin:40px auto 40px;
    height:40px;
    border-top:2px solid var(--secondary-color);
    border-bottom:2px solid var(--secondary-color);
    padding:5px 0;
    justify-content: space-between;
}
.kocina__header a{
    text-decoration: none;
    color:var(--primary-color)
}

.header__name h1{
    font-family: "Leckerli One", cursive;
    color:var(--primary-color);
    padding-left:5px;
    font-size:30px;
    font-weight: 200;
    cursor:pointer;
}
.header__text{
    display:flex;
    justify-content: space-between;
    width:80%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-left:40px;
}

.header__text ul{
    list-style: none;
    text-decoration: none;
    display:flex;
}
.header__text a{
    text-decoration:none;
    color:var(--primary-color);
    font-size:13px;
    font-weight: 500;
    position: relative;
} 

.header__text a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.header__text a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.text__left li{
    margin-right:40px;
}
.text__right{
    display:flex;
    align-items: center;
    text-transform: uppercase;
}
.header__search{
    display:flex;
    flex-direction: row-reverse;
    align-content: center;
    margin-right:40px;
}
.search_slide{
    width:0;
    overflow: hidden;
    margin-right:15px;
    transition: width 2s;
}
.header__search .fa{
    position:absolute;
    top:57px;
    font-size:20px;
    cursor:pointer;
    color:var(--primary-color)
}
.searchbox_slide{
    width:300px;
    height:30px;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding-left:5px;
    background-color: var(--secondary-color);
    border-radius:5px;
    color:var(--primary-color);
}

.search_slide input{
    border:none;
    outline:none;
    
}
#search_click {opacity: 0; width: 0px;}
#search_click:checked + .search_slide {width: 300px;}

.header__signin button{
    border:0;
    background:none;
    font-size:12px;
    margin-right:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor:pointer;
    color:var(--primary-color);
}
.header__signin button:hover{
    color:grey;
}
.header__signup button{
    background-color: var(--primary-color);
    width:120px;
    height:32px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size:12px;
    font-weight:500;
    cursor:pointer;
    border-color:var(--primary-color)
}

.header__signup button:hover{
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border:1px solid var(--primary-color);
    transition:background-color 1s;
}