*{
    margin:0;
    padding:0;
}
:root{
    --primary-color:#c7551f;
    /* --primary-color:#7066e0; */
    --secondary-color:#f9ebe5;
    --tertiary-color:#dbdbdb;
    --text-color:grey;
    --hover-color:#9f4419;
}

/* --------HEADER START----------  */
.header-wrapper{
    display:flex;
    max-width: 1180px;
    margin:40px auto 40px;
    height:40px;
    justify-content: space-between;
    align-items: center;
}
.header-container{
    display:flex;
    width: 100%;
    border-top:2px solid var(--secondary-color);
    border-bottom:2px solid var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    height:50px;
}
.header-name a{
    text-decoration: none;
    color:var(--primary-color);
    margin-right:10px;
}
/* HEADER LEFT SIDE */

.header-name img{
    width:150px;
    height:100px;
}
.header-container ul{
    list-style: none;
    text-decoration: none;
    display:flex;
    font-family: 'Montserrat', sans-serif;
    padding-left:10px;
}
.header-left{
    display:flex;
    align-items: center;

}
.header-left li{
    margin-right:40px;
    text-transform: uppercase;
}
/* HEADER HOVER EFFECT */

.header-left a{
    text-decoration:none;
    color:var(--text-color);
    font-size:13px;
    font-weight: 500;
    position: relative;
}

.header-left a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.header-left a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active-link a{
    color:var(--primary-color);
    padding:2px 4px;
    font-weight: 600;

}
.active-link a:hover:after{
    text-decoration: none;
    transform: scaleX(0);
}
/* HEADER RIGHT SIDE  */
.header-right{
    display:flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.header-search label{
    cursor:pointer;
}
.header-search{
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
}
.search_slide{
    width:0;
    overflow: hidden;
    margin-right:15px;
    transition: width 2s;
}
.searchbox_form{
    display:inline-block;
    height:40px;
    width: 100%;
}
.searchbox_form_input{
    border:0;
    outline:none;
    height:40px;
    width:300%;
    background-color: #f9f5f4;
    border-radius: 7px;
    padding-left:20px;
    font-family: 'Montserrat', sans-serif;
    
}
.searchbox_form_input::placeholder{
    color:var(--text-color);
}
.header-search button{
    border:none;
    background-color: transparent;
    position:relative;
    top:-30px;
    float:right;
    cursor:pointer;
    margin-right:20px;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
.header-search svg:hover{
    fill:var(--text-color);
    transition:fill 0.5s ease-out;
}
#searchOpen{
    padding:5px;
    border-radius: 5px;
    border:2px solid var(--secondary-color)
}
#searchClose{
    padding:5px;
    border-radius: 5px;
    border:2px solid var(--secondary-color)
}
.header-search svg{
    fill:var(--primary-color);
}
.searchbox_slide{
    width:250px;
    height:30px;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding-left:10px;
    background-color: var(--secondary-color);
    border-radius:5px;
    color:var(--primary-color);
}

#search_click {opacity: 0; width: 0px;}
#search_click:checked + .search_slide {width: 500px;}


.header-signin a{
    text-decoration:none;
    color:var(--primary-color);
    font-size:13px;
    font-weight: 500;
    position: relative;
}

.header-signin a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.header-signin a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.header-signup a{
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 7px 40px;
    align-self: center;
    border-radius: 20px;
    color: var(--secondary-color);
    font-size: 14px;
    margin-left:20px;
    font-weight: 500;
    border:none;
}

.header-signup a:hover{
    background-color: var(--hover-color);
    transition: 0.2s ease-in;
}
.header-signup-active{
    margin-top:1px;
    display:flex;
    margin-right:10px;
    color:var(--text-color);
    font-size:13px;
    font-weight: 500;
    align-items: center;
}
.header-signup-active img{
    margin-left:10px;
    margin-top:2px;
    width:36px;
    height:36px;
    border-radius:50%;
    padding:2px;
    border:2px solid var(--primary-color);
}
.user-roles-medal{
    fill: var(--primary-color);
    margin-top:5px;
    margin-left:5px;
}

/* NAVBAR BURGER MENU ON CLICK */
.menu-bar{
    margin-right:10px;
    display:none;
}
.bar{
	height: 4px;
	width: 100%;
	background-color: var(--primary-color);
    display: none;
	border-radius: 5px;
	transition: 0.3s ease;
    margin:5px 0;
    align-self: center;
    pointer-events: none;
}
#nav-menu{
	width: 28px;
    height:auto;
	cursor: pointer;

}

.menu-active #bar1{
	transform: translateY(9px) rotateZ(-45deg);
}
.menu-active #bar3{
	transform: translateY(-9px) rotate(45deg);
}
.menu-active #bar2{
	opacity: 0;
}
/* --------HEADER END----------- */

/* -----------MEDIA SCREEN CONTENT---------- */

/* MEDIA SCREEN FOR SMALL DEVICES */
/* 600 768 992 1200 px */

@media screen and (max-width: 600px){
    .header-wrapper{
        width: 100%;
        background-color: var(--secondary-color);
    }
    .header-wrapper img{
        background-color: white;
    }
    .header-container{
        border:none;
        width:28px;
        margin-right:20px;
    }
    .header-left{
        display:none;
    }
    .header-name{
        margin-left:20px;
    }

    .bar{
        display:block;
    }
    .menu-bar{
        display:block;
    }

    .header-signup-active{
        display:none;
    }
    .search_slide {
        width: 100%;
        /* align-self: flex-start; */
    }
    .header-search{
        width: 100%;
        justify-content: center;
    }

    .searchbox_form_input{
        padding-left:40px;
    }
    .header-search label{display: none;}
    .header-search button{
        opacity: 1;
        float:left;
        padding-left:5px;
    }
    .header-signup{
        display: none;
    }
    .header-signin{
        display: none;}
}
@media screen and (max-width: 768px) and (min-width: 601px){
    .header-wrapper{
        margin-right:20px;
        margin-left:20px;
    }

    .header-signup-active >p{
        display:none;
    }
    /* .header-signup{
        display: none;
    } */
    .header-signup a{
        padding:7px 20px;
        margin:0;
    }
    .header-signin{
        display: none;}
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .header-wrapper{
        margin-left:20px;
        margin-right:20px;
    }
}
