*{
    margin:0;
    padding:0;
}

.hero-container {
    margin:0 auto;
    max-width: 1180px;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-family:'Montserrat';
    background-size: cover;
    background-position: center;
}
.hero-text {
    width:40%;
    color: var(--primary-color);
    position:relative;
    padding:80px;
    display:flex;
    flex-direction: column;
}
.hero-text h1{
    font-size:46px;
    padding-bottom:20px;
}
.hero-text p{
    font-size:17px;
    padding-bottom:20px;
}

.hero-text a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    transition:0.3s;
}
.hero-text a:hover {
    transform:translateX(5px);
    color: var(--hover-color);
}

/* MEDIA SCREEN CONTENT */
@media screen and (max-width: 600px){
    .hero-container{
        display: block;
        margin:10px 20px;
    }
    .hero-text h1{
        display:none;
    }
    .hero-text{
        padding:20px;
        width: 100%;
    }
    .hero-text p{
        display:none;
    }
}
@media screen and (max-width: 1024px) and (min-width:768px){
    .hero-text{
        padding:40px;
    }
    .hero-text h1{
        font-size: 36px;
    }
    .hero-text p{
        display:none;
    }
    .hero-container{
        margin:10px 20px;
    }
}
