*{
    margin:0;
    padding:0;
}
.meal_container{
    width:1180px;
    height:100%;
    margin:20px auto 20px;
    font-family: 'Montserrat', sans-serif;
}

.product__media{
    width:100%;
    height:500px;
    display:flex;
}
.product__show{
    width: 50%;
    height:500px;
}
.product__show img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:20px;
}
.product__description{
    width:50%;
    height:500px;
    padding-left:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.product__description h1{
    margin-bottom:20px;
    font-size:35px;
    color:var(--primary-color)
}
.description__top{
    padding-right:40px;
}
.description__mid{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
    border-bottom:1px solid grey;
    padding-bottom:25px;
    text-align: center;
}
.description__mid h3{
    font-size:16px;
    margin-top:5px;
}
.description__mid p{
    font-size:14px;
}

.description__mid__left{
    width:33%;
}
.description__mid__center{
    border-left:1px solid grey;
    border-right:1px solid grey;
    text-align: center;
    width:33%;

}

.description__mid__rigth{
    width:33%;
}
.description__bottom{
    display:flex;
    justify-content: space-between;
    padding-top:35px;
}
.description__bottom a{
    text-decoration: none;
    color:var(--primary-color);
    font-size:16px;
}
.description__bottom h3{
    font-size:16px;
}
.description__bottom p{
    font-size:14px;
}
.description__bottom__right a{
    margin-left:15px;
}

.description__bottom svg{
    width:22px;
    height:22px;
}

.product__text{
    width:980px;
    height:100%;
    margin:30px auto 20px;
    display:flex;
}
.product__text__left{
    width: 65%;
    height:100%;
    display:flex;
    flex-direction: column;
    margin-right:7%;
}
.product__preparation{
    width:100%;
    height:100%;
    border-bottom: 1px solid rgba(128, 128, 128, .3)
}
.step1,.step2,.step3,.step4{
    display:flex;
    margin:20px 0;
}
.step1 svg, .step2 svg, .step3 svg, .step4 svg{
    border:1px solid var(--primary-color);
    border-radius:50%;
    padding:5px;
    cursor:pointer;

}
.step1 svg:hover, .step2 svg:hover, .step3 svg:hover, .step4 svg:hover{
    background-color: var(--primary-color);
}
.step1 svg:hover polyline,.step2 svg:hover polyline,.step3 svg:hover polyline,.step4 svg:hover polyline{
    stroke: #ffffff;
}

.step__text{
    padding:6px 1px 0 18px;
    position:relative;
}
.step__text h4{
    color:var(--primary-color);
    margin-bottom:18px;
}
.step__text span{
    padding:0 5px 5px 15px;
    color:var(--primary-color);
    position:absolute;
    top:0px;
    opacity:0.3;
    font-weight:300;
}
#step_btn {opacity: 0; width: 0px;}
#step_btn:checked + .step__text p{opacity:0.5;}

#step_btn2 {opacity: 0; width: 0px;}
#step_btn2:checked + .step__text p{opacity:0.5;}

#step_btn3 {opacity: 0; width: 0px;}
#step_btn3:checked + .step__text p{opacity:0.5;}

#step_btn4 {opacity: 0; width: 0px;}
#step_btn4:checked + .step__text p{opacity:0.5;}


.product__comments{
    width:100%;
    height:100%;
    margin-top: 20px;
}
.product__comments h3{
    padding-bottom:20px;
}
.first__comment{
    width:97%;
    height:25%;
    padding:20px 20px 20px 0;
}

.comm-header{
    display:flex;
    justify-content: space-between;
}
.comm-header a{
    text-decoration: none;
    color:grey;
}
.comm-right{
    opacity:0;
}
.first__comment:hover .comm-right{opacity:1;}
.first__reply:hover .comm-right{opacity:1;}
.second__reply:hover .comm-right{opacity:1;}

.comm-left{
    display:flex;
}
.comm-info h4{
    cursor:pointer;
    padding-left:15px;
}
.comm-info p{
    padding-left:15px;
    cursor:pointer;
}
.comm-text{
    padding-top:15px;
}
.product__comments img{
    width:50px;
    height:50px;
    border-radius:50px;
    /* padding-right: 15px;
    padding-bottom:15px; */
}
.first__reply{
    width:80%;
    height:28%;
    background-color:#f9f5f4;
    margin-left:80px;
    padding:20px;
    border-radius:10px;
}
.second__reply{
    width:80%;
    height:28%;
    margin-left:80px;
    padding:20px;
}

.product__text__right{
    width:35%;
    height:1000px;
}
.product__igredients{
    width:100%;
    height:600px;
}
.product__tags{
    width:100%;
    height:150px;
    margin-top:40px;
}

.product__share{
    width:100%;
    height:100px;
}

.step1, .step2, .step3, .step4{
    width:100%;
    height:25%;
}

/*SASTOJCI ZA RECEPT TEMPLATE*/
.product__igredients h3{
    padding-bottom:10px;
}
.product__igredients ul{
    list-style: none;
}

.product__igredients li{
    padding:15px 70px 15px 1px;
    border-top: 1px solid rgba(128, 128, 128, .3)
}

.product__igredients li:first-of-type{
    border:none;
}
.product__tags h3{
    margin-bottom:15px;
}
.tagovi{
    display: flex;
    flex-wrap: wrap;
}

.product__tags a{
    text-decoration: none;
    margin:3px 5px 3px 1px;
    padding:3px 15px 3px 15px;
    background-color:var(--secondary-color);
    border-radius:7px;
    font-size:13px;
    text-transform: uppercase;
    color:var(--primary-color);
    font-weight:500;

}
.product__share h3{
    margin-bottom:15px;
}


.product__share .fa{
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 500px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    cursor:pointer;
    background-color: var(--secondary-color);
}


.product__share .fa:hover{
    color: var(--secondary-color);
    font-size: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    transition:background-color 1s;
}

