*{
    margin:0;
    padding:0;
}

.sub__container__recipes{
    background-color: #f9f5f4;
    width:100%;
    height:100%;
}
.meal__content__sub{
    max-width: 1180px;
    margin:20px auto 20px;
    font-family: 'Montserrat', sans-serif;
    color:var(--primary-color)
}
.meal__content__sub h2{
    padding:20px 0 30px 0px;
}

.content__sub__bottom{
    width:100%;
    display:flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    flex-wrap:wrap;
}

.main__media img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:15px;
}
.main__media{
    height:66%;
    width:100%;
    position:relative;
    background-color: rgb(128, 128, 128);
    border-radius:15px;
}

.main__media img:hover{
    opacity:0.8;
}
.media__heart .fa{
    color:white;
    position:absolute;
    right:15px;
    top:15px;
    font-size:20px;
}
.media__heart .fa:hover{
    color:var(--primary-color);
    transition: 0.5s;
}
.main__text{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.main__text h3{
    font-size:16px;
    font-weight:500;
    margin:15px 0 12px 0;
    color:var(--primary-color)
}
.main__text__sub{
    font-size:12px;
    display:flex;
    justify-content: space-between;
    font-weight:400;
}
.main__text .fa{
    color:#fbc418;
    margin-right:5px;
}
.main__text__sub__left .voting{
    margin-left:-3px;
}
/* MEDIA SCREEN CONTENT */
@media screen and (max-width:611px){
    .content__sub__bottom{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom:20px;
    }
}
@media screen and (max-width:768px){
    /* .content__sub__bottom{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom:20px;
    } */
    .meal__content__sub h2{
        text-align: center;
    }
    /* .content__sub__bottom{
        justify-content: space-evenly;
    } */
    
}
@media screen and (max-width:898px) {
    .content__sub__bottom{
        justify-content: space-evenly;
    }
}
@media screen and (max-width:1220px) {
    .meal__content__sub{
        margin:0 20px;
    }
    .content__sub__bottom{
        justify-content: space-evenly;
    }
}