

.mobile_navbar_menu {
    margin:0 auto;
    width:50%;
    font-family:'Montserrat';
    /* background-color: red; */
    text-align: center;
    transition: 1s; 
    opacity: 0;
    height: 0;
    overflow: hidden;
    vertical-align: center;
    margin-top:-20px;
}

.mobile_navbar_menu ul{
    list-style:none;
    /* padding: 0px 0 40px; */
    /* margin:auto; */
}

.mobile_navbar_menu li{
    /* margin: 10px; */
    /* background-color: red; */
    border-bottom: 2px solid var(--secondary-color);
    padding:10px 0;
}
.mobile_navbar_menu a{
    text-decoration: none;
    font-weight:500;
    color:var(--text-color)
}

.mobile_navbar_menu.fade{
    opacity: 1;
    /* margin: "0px 10px 20px 30px"; */

    height:253px;

}
