*{
    margin:0;
    padding:0;
}

.recipes_container{
    max-width:1180px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}
.recipes_search_wrap{
    display:flex;
    justify-content: space-between;
    /* padding-bottom:15px; */
    margin-bottom:30px;
    width:100%;
    align-items: center;
}
.recipes_search_wrap .content-search{
    position:relative;
    display:flex;
    width:50%;
}

.recipes_search_wrap .search-box{
    border:0;
    outline:none;
    height:40px;
    width:300%;
    background-color: #f9f5f4;
    border-radius: 7px;
    padding-left:40px;
    font-family: 'Montserrat', sans-serif;
}

.recipes_search_wrap .content-search .fa{
    position:absolute;
    left:10px;
    top:10px;
    font-size:20px;
    color:var(--primary-color);
    position:absolute;
}
.recipes_search_wrap .content-sortby{
    position:relative;
}

.recipes_search_wrap .content-sortby button{
    background-color: var(--secondary-color);
    width:157px;
    height:30px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color:var(--primary-color);
    font-weight: 600;
    font-size:12px;
    text-align: left;
    padding-left:15px;
    padding-bottom:2px;
    cursor:pointer;
}

.recipes_search_wrap .content-sortby ul{
    opacity: 0;
    display:flex;
    flex-direction:column;
    margin:-15px 0 0 0;
    padding:0;
    align-items:center;
    list-style: none;
    position:absolute;
    left:5px;
    top:45px;
    width:147px;
    height: 45px;
    font-size:12px;
    background: var(--secondary-color);
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    color:var(--primary-color);
    border:1px solid grey;
}
::placeholder{
    color:var(--primary-color);
}
.recipes_search_wrap .content-sortby ul li{
    display:flex;
    flex-direction:column;
    width: 91%;
    height: 100%;
    text-align: start;
    justify-content: center;
    color:var(--primary-color);
    padding-left:15px;
}

.recipes_search_wrap .content-sortby button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.recipes_search_wrap .content-sortby ul li:hover{
    color:var(--secondary-color);
    background-color:var(--primary-color);
}

.recipes_search_wrap .content__sub__top{
    width:100%;
    margin-bottom: 38px;
    display:flex;
    justify-content: space-between;
}
.recipes_search_wrap .content__sub__bottom{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.featured_recipes_wrap{
    display:flex;
    width:100%;
    height:40%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom:15px;
    border-top:2px solid var(--secondary-color);
    padding-top:20px;
    justify-content: space-between;
}
.featured_recipes h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom:5px;
    color:var(--primary-color);
}

.main__item__recipes{
    width:266px;
    height:210px;
    cursor:pointer;
    margin-bottom:38px;

}

.featured_recipes_container{
    width:100%;
    background-color: #f9f5f4;
}

.featured_recipes_wrap .main__media img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:15px;
}
.featured_recipes_wrap .main__media{
    height:66%;
    width:100%;
    position:relative;
    background-color: rgb(128, 128, 128);
    border-radius:15px;
}

.featured_recipes_wrap .main__media img:hover{
    opacity:0.8;
}
.featured_recipes_wrap .media__heart .fa{
    color:white;
    position:absolute;
    right:15px;
    top:15px;
    font-size:20px;
}
.featured_recipes_wrap .media__heart .fa:hover{
    color:#eb4a36;
    transition: 0.5s;
}
.featured_recipes_wrap .main__text{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.featured_recipes_wrap .main__text h3{
    font-size:16px;
    font-weight:500;
    margin:15px 0 12px 0;
    color:var(--primary-color);
}
.featured_recipes_wrap .main__text__sub{
    font-size:12px;
    display:flex;
    justify-content: space-between;
    font-weight:400;
}
.featured_recipes_wrap .main__text .fa{
    color:#fbc418;
    margin-right:5px;
}

/* .featured_recipes_wrap .main__text__sub__left .voting{
    margin-left:-3px;
} */
.all_recipes_wrap{
    border-top:2px solid var(--secondary-color);
    padding-top:20px;
    display:flex;
    flex-wrap:wrap;
    /* justify-content: space-between; */
}

.all_recipes_content h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom:5px;
    color:var(--primary-color);
}

.all_recipes_wrap .main__media img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:15px;
}
.all_recipes_wrap .main__media{
    height:66%;
    width:100%;
    position:relative;
    background-color: rgb(128, 128, 128);
    border-radius:15px;
}

.all_recipes_wrap .main__media img:hover{
    opacity:0.8;
}
.all_recipes_wrap .media__heart .fa{
    color:white;
    position:absolute;
    right:15px;
    top:15px;
    font-size:20px;
}
.all_recipes_wrap .media__heart .fa:hover{
    color:#eb4a36;
    transition: 0.5s;
}
.all_recipes_wrap .main__text{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.all_recipes_wrap .main__text h3{
    font-size:16px;
    font-weight:500;
    margin:15px 0 12px 0;
    color:var(--primary-color);
}
.all_recipes_wrap .main__text__sub{
    font-size:12px;
    display:flex;
    justify-content: space-between;
    font-weight:400;
}
.all_recipes_wrap .main__text .fa{
    color:#fbc418;
    margin-right:5px;
}
/* .all_recipes_wrap .main__text__sub__left .voting{
    margin-left:-3px;
} */

.content-bottom{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    margin-bottom:40px;
}
.content-bottom a{
    text-decoration:none;
    color:var(--primary-color);
    margin:0 5px;
    font-weight: 500;
}

.content-bottom a:hover{
    color:black;
}

@media screen and (max-width: 516px){
    .featured_recipes_wrap{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .recipes_search_wrap{
        display:flex;
        flex-direction:column;
        height: auto;
        margin-bottom:20px;
        padding-bottom:5px;

    }
    .recipes_search_wrap .search-box{
        width:100%;
    }
    .recipes_search_wrap .content-search{
        width:100%;
    }
    
    .content-sortby{
        align-self: center;
        margin-top:20px;
    }
  
    
}
@media (max-width:768px){
    .featured_recipes_wrap{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .all_recipes_wrap{
        justify-content: space-evenly;
    }
}
@media (max-width:1170px){
    .all_recipes_wrap{
        justify-content: space-evenly;
        justify-items: flex-start;
    }
}

@media (max-width: 1220px){
    .recipes_container{
        margin:20px;
    }
}