.user_container_wrap{
    background-color: red;
    max-width: 1180px;
    margin:0 auto;
    height:auto;
    font-family: 'Montserrat', sans-serif;
}

.user_container_content{
    background-color: blueviolet;
    display:flex;
}

.user_container_media{
    width:500px;
    /* height:500px; */
    background-color: yellowgreen;
}
.user_container_media img{
    width:200px;
    height:200px;
}

.user_container_info{
    background-color: aqua;
}

.user_container_meals{
    display: flex;
    flex-wrap: wrap;
}